@charset "UTF-8";

/*  em HTML é id = em CSS é #
em HTML É class = em CSS é .
*/

body {
    background-color: #90ee90;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #266326;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: #266326;
}

.basico {
    color: #266326 ;
} 

.intermediario {
    color: #cfcf0f;
}

.avancado {
    color: #f30707;
}