@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #DBF227,#D6D58E);
}

main {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px #042940;
    width: 600px;
    padding: 10px;
    margin: auto  ;
}

h1 {
    text-align: center;
    color: #005C53;
    text-shadow: 1px 1px 2px #003530c5;
}

h2 {
    color: #042940;
}

p {
text-align: justify;
}

